/* CSS files add styling rules to your content */

body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/*index page*/
#index{
  background-image: url("https://cdn.glitch.com/5f40a085-d9fc-4d9d-a939-51a461e323d5%2Ftw%20cover.png?v=1618461432258");
  font-family: verdana, helvetica, sans-serif;
}
#enter{
  color: black;
  position: center;
}
#tw{
  color: rgba(255, 214, 0, 1);
  text-align: center;
  font-size: windowWidth; 
}